body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.header {
    left: 57%; 
    text-align: center;
    margin-left: 3%;
}

.internetPhoto {
    text-align: center;
    margin-top: 2.188em;
}

.newVideo {
    max-width: 80%;
    margin-left: 12%;
    margin-top: 2.5em;
}

.headLine {
    margin-bottom: 0em;
    width: 100%;
}

.headLineTwo {
    margin-bottom: 1.250em;
    width: 50%;
}

.descriptionImage img {
    margin-left: 29%;
    margin-top: 2.5em;
    width: 50%;
}

@media screen and (max-width: 600px)  {
    .descriptionImage img {float: left;}
}

